<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" 
        class="form-control" 
        id="name" 
        name="name"
        [ngModel]="model.name"
        required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" 
        class="form-control" 
        id="email" 
        name="email"
        [ngModel]="model.email"
        required
        emailDomain>
    </div>
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" 
        class="form-control" 
        id="alterEgo" 
        name="alterEgo" 
        [ngModel]="model.alterEgo">
    </div>
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" 
        id="power" name="power"
        (change)="onPowerChanged(model.power)" 
        required [ngModel]="model.power">
        <option *ngFor="let pow of powerArr" [value]="pow.id">{{pow.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="temperature">Temperature</label>
      <input type="text" 
        class="form-control" 
        id="temperature"
        name="temperature" 
        [required]="onTemperatureRequired(heroForm.form.value.power)" 
        [ngModel]="model.temperature">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text"
        class="form-control"
        id="phone"
        name="phone"
        maxlength="10"
        minlength="10"
        [required]="onPhoneRequired(heroForm.form.value.phone)" [ngModel]="model.phone">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>